a{
	outline:none;
}
div.map_container{
	float: left;
	height: 83%;
	margin: 15px;
	overflow: scroll;
	width: 98%;
	position:relative;
}
div.updated{
	margin: 15px !important;
}
.form_frame{
	position:absolute;
	padding:10px;
	top:0px;
	height:407px;
	width:460px;
	display:none;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 3px 6px #5E5E5E;
}
span.pin{
	background: url("../images/pin.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 24px;
	position: absolute;
	width: 14px;
	display:none;
}
span.savedPin{
	background: url("../images/pin.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 24px;
	position: absolute;
	width: 14px;
	display:none;
}
span.map_pin{
	background: url("../images/pin.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 24px;
	position: absolute;
	width: 14px;
	display:none;
}
span.loader{
	background: url("../images/loadings.gif") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	position: absolute;
	width: 24px;
	display:none;
}

.popup_main{
	position:absolute;
	width:363px;
	 left: 334px;
    position: absolute;
    top: 10px;
    width: 363px;
	display:none;
	z-index:100;
}
.popup_top{
	float:left;
	width:363px;
	background:url("../images/popup_top.png") no-repeat;
	height:11px;
	margin:0px 0px 0px 1px;
}
.popup_middle{
	float:left;
	width:365px;
	background:url("../images/popup_middle.png") repeat-y;
}
.popup_bottom{
	float:left;
	width:365px;
	background:url("../images/bottom_bg.png") no-repeat;
	height:30px;
}
.popup_close{
	float:right;
	font: 15px Arial, Helvetica, sans-serif;
	color:#8d8d8d;
	cursor:pointer;
	margin: -2px 15px 5px 0;
}
.popup_close:after{
	content: "✖";
}
.popup_image{
	float:left;
	width:325px;
	height:200px;
	margin:0 0 0 19px;
}
.popup_image img{
	float:left;
	box-shadow:0 3px 0 #94C27A;
	border:1px solid #cbc8c5;
	border-radius:6px;
	height: 195px;
    width: 100%;
}
.popoup_detail{
	float:left;	
	width:325px;
	margin:10px 0px 0px 18px;
}
.popoup_detail span{
	font: 15px Arial, Helvetica, sans-serif;
	color:#666;
	line-height:22px;
	float:left;	
	width:100%;
}
.popoup_detail small{
	font: 15px Arial, Helvetica, sans-serif;
	color:#8d8d8d;
	line-height:22px;
	float:left;	
	width:100%;
}
.formField {
	clear: both;
    float: left;
    margin: 0 0 10px 1px;
}
.formField span {
	color: #373737;
    float: left;
    font-family: arial;
    margin: 5px 10px 0 0;
    width: 110px;
}
.formField textarea{
	border: 1px solid #D6D6D6;
    padding: 7px 0 0 7px;
    width: 310px;
}
.formField input[type=text]{
	border: 1px solid #D6D6D6;
    padding: 7px 0 7px 7px;
}
.formField img {
    border: 1px solid #6D6D6D;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 0 0 0 120px;
}
.nwgbp_form{
	float: left;
    margin: 18px 0 0;
}
a.closelink{
	color: #8D8D8D;
    cursor: pointer;
    float: right;
    font: 14px Arial,Helvetica,sans-serif;
    margin: 9px 20px 5px 0;
	text-decoration:none;
	position:absolute;
	top:-8px;
	right:-17px;
}
a.deletePin{
	color: #8D8D8D;
    font: 17px Arial,Helvetica,sans-serif;
    margin: 0 0 0 10px;
    text-decoration: none;
}
span.arrow{
	background: url("../images/arrow.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 19px;
    position: absolute;
    width: 27px;
	display:none;
	z-index:99;
}
span.savedPin small.rightarrow{
	background: url("../images/arrow.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 19px;
    position: absolute;
    width: 27px;
	display:none;
	z-index:99;
}
span.savedPin small.toparrow{
	background: url("../images/arrow.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 19px;
    position: absolute;
    width: 27px;
	display:none;
	z-index:99;
}
span.savedPin small.bottomarrow{
	background: url("../images/arrow.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 19px;
    position: absolute;
    width: 27px;
	display:none;
	z-index:99;
}

.plom_form{
	float:left;
	position:absolute;
	background:#fff;
	padding: 25px 10px 10px 10px;
	border: 1px solid #666666;
	width:440px;
}
.plom_form .formField{
	margin: 10px 0 10px 1px;
}
.plom_form .closelink:after{
	content: "✖";
}
.plom_form .closelink{
	float:right;
	font: 17px Arial,Helvetica,sans-serif;
    margin: 11px 25px 0 0;
	color:#8d8d8d;
	cursor:pointer;
}
.loc_image {
    float: left;
    margin: 16px 0 0;
    position: relative;
}
.loc_image a.delete-banner-item{background: url("../images/delete.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);float: left;height: 19px;position: absolute;right: -10px;text-indent: -9999px;top: -10px;width: 20px;}
